In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df=pd.read_csv("desafio1.csv")

In [3]:
df.head(5)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

# Objetivo:
### Conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. Para realizar a verificação inicial, precisamos de alguns valores. Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

In [4]:
df_reduced=df[['estado_residencia','pontuacao_credito']]

In [5]:
df_reduced.head()

  estado_residencia  pontuacao_credito
0                SC                619
1                RS                608
2                SC                502
3                SC                699
4                RS                850

In [6]:
df_reduced.estado_residencia.unique()

array(['SC', 'RS', 'PR'], dtype=object)

In [7]:
df_reduced[df_reduced["estado_residencia"]=="SC"].describe()

       pontuacao_credito
count        3519.000000
mean          649.537653
std            97.233493
min           359.000000
25%           581.000000
50%           653.000000
75%           717.000000
max           850.000000

In [8]:
print(df_reduced[df_reduced["estado_residencia"]=="SC"]["pontuacao_credito"].mode().loc[0])#moda
print(df_reduced[df_reduced["estado_residencia"]=="SC"].median().iloc[0])#mediana
print(df_reduced[df_reduced["estado_residencia"]=="SC"].mean().iloc[0])#media
print(df_reduced[df_reduced["estado_residencia"]=="SC"].std().iloc[0])#desvio

850
653.0
649.5376527422563
97.23349279343306

In [9]:
my_dic={}
for i in df_reduced.estado_residencia.unique():
    my_dic[i]={"moda": float(df_reduced[df_reduced["estado_residencia"]==i]["pontuacao_credito"].mode().loc[0]),
              "mediana": float(df_reduced[df_reduced["estado_residencia"]==i].median().iloc[0]),
              "media": float(df_reduced[df_reduced["estado_residencia"]==i].mean().iloc[0]),
              "desvio_padrao": float(df_reduced[df_reduced["estado_residencia"]==i].std().iloc[0])}
print (my_dic)

{'SC': {'moda': 850.0, 'mediana': 653.0, 'media': 649.5376527422563, 'desvio_padrao': 97.23349279343306}, 'RS': {'moda': 850.0, 'mediana': 650.0, 'media': 651.1051428571428, 'desvio_padrao': 95.1365984138357}, 'PR': {'moda': 850.0, 'mediana': 650.0, 'media': 648.9612940496822, 'desvio_padrao': 98.60718591309772}}

In [10]:
with open('submission.json', 'w') as filename:
    json.dump(my_dic, filename)